<template>
  <div class="d-flex no-block justify-content-center align-items-center position-relative">
    <div class="card">
      <article class="card-body">
        <router-link :to="isRegister ? '/' : '/?register=true'" class="float-right btn-outline-primary">
        Sign {{isRegister ? 'In' : 'Up'}}
        </router-link>
        <h4 class="card-title mb-4 mt-1">Sign {{isRegister ? 'Up' : 'In'}}</h4>
        <form @submit.prevent="doLogin" @reset.prevent="doReset">
          <div class="form-group">
            <label>Your Email</label>
            <input name="" class="form-control" placeholder="Email"  type="email" v-model="user.username" required>
          </div>
          <div v-if="isRegister" class="form-group">
            <label>Your Name</label>
            <input class="form-control" placeholder="******" type="text" v-model="user.profileName" required>
          </div>
          <div class="form-group">
            <label>Your password</label>
            <input class="form-control" placeholder="******" type="password" v-model="user.password" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              {{isRegister ? 'Register' : 'Login'}}
              </button>
          </div>
        </form>
      </article>
    </div>
  </div>
</template>

<script lang="ts">
//import Vue from 'vue'
//import Component from  'vue-class-component'

//
import User from "../entity/User";
import{Component, Vue} from "vue-property-decorator";
import Axios, {AxiosResponse, AxiosError} from "axios";
@Component
export default class Login extends Vue{
    
    public user: User = new User();

    public get isRegister() {
      return this.$route.query.register === "true";
    }

    public doReset(){
      this.user = new User();
    }
    public doLogin(){
      if(this.user.username !== "" && this.user.password !==""){
        console.log(this.user);
      }
    }
    public doSubmit(){
      
      let valid: boolean = this.user.username !== "" && this.user.password !== "";

      if (this.isRegister){
        valid = valid && this.user.profileName !=="";
      }
       

       if (valid) {
        const baseApi: string = "http://202.152.159.164:8088/perpus/";
        const url: string = `${baseApi}auth/${this.isRegister ? 'do-register' : 'do-login'}`;
        
        Axios.post(url, this.user,{responseType:'json'}).then((response: AxiosResponse) => {
          console.log(response);
        }).catch((error:AxiosError) => {
          console.error(error);
        });
        
      }
     
      
    }
}
</script>

<style lang="scss" scoped>
  .d-flex.no-block {
    min-height: 100vh;
  }
</style>