<template>
  <div class="d-flex no-block justify-content-center align-items-center position-relative">
    <div class="card">
      <article class="card-body">
        <router-link to="/" class="float-right btn-outline-primary">Sign in</router-link>
        <h4 class="card-title mb-4 mt-1">Sign up</h4>
        <form @submit.prevent="doRegister" @reset.prevent="doReset">
          <div class="form-group">
            <label>Your Email</label>
            <input name="" class="form-control" placeholder="Email"  type="email" v-model="user.username" required>
          </div>
          <div class="form-group">
            <label>Your Password</label>
            <input class="form-control" placeholder="******" type="password" v-model="user.password" required>
          </div>
           <div class="form-group">
            <label>Your Name</label>
            <input class="form-control" placeholder="******" type="text" v-model="user.profileName" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
          </div>
        </form>
      </article>
    </div>
  </div>
</template>

<script lang="ts">
//import Vue from 'vue'
//import Component from  'vue-class-component'


import User from "../entity/User";
import{Component, Vue} from "vue-property-decorator";

@Component
export default class Register extends Vue{
    
    public user: User = new User();

    public doReset(){
      this.user = new User();
    }
    public doRegister(){
      if(this.user.username !== "" && this.user.password !==""&& this.user.profileName !==""){
        console.log(this.user);
      }
    }
}
</script>

<style lang="scss" scoped>
  .d-flex.no-block {
    min-height: 100vh;
  }
</style>