<!--
<template>
    <div class="pagination-item">
        <component :is="rootTag" :class="rootClass">
            <slot></slot>
            <component v-if="!isBeingRequest && tdatas.length > 0"
                        :is="renderContainerTag" :class="renderContainerClass">
                <template v-for="(data, index) in tdatas">
                    <slot name="onRenderData" :data="data" :index="index" :currentPage="currentPage"/>
                </template>
            </component>
        <slot v-else-if="$slots['onRequestOrEmptyData']" name="onRequestOrEmptyData"/>
        </component>
        //<nav aria-label="..."
    </div>
</template>

<script lang="ts">
//import
/* blum selese bawahnya
import Component from "vue-class-component";

@Component
export default class Pagination extends Vue {

    @Prop({default: "div"})
    public rootTag:string;

    @Prop({default: ""})
    public rootTag:string;

    @Prop({default: "div"})
    public renderContainerClass:string;

    @Prop({default: ""})
    public renderContainerClass:string;
    
    @Prop({default: 0})
    public offset:number;
    
    @Prop({default: 5})
    public limit:number;

    @Prop({default: false})
    public isBeingRequest: boolean;

    @Prop({default: []})
    public datas:Array<any>;

    @Prop({default: 0})
    public rows:number;

    @Prop({default: 5})
    public maxLengthPagination: number;
    
    @Watch({"offset"})
    public offset:number;

}
*/